@using System.Collections
@model Method


<div class="jumbotron">
    <h4>Result</h4>
    <div class="row text-center">
        @{
            if (Model.Result != null)
            {
                foreach (var elem in (IEnumerable)Model.Result)
                {
                    @:<div class="col-sm"><p>@elem</p></div>
                }
            }
        }
    </div>
</div>