@using System.Collections
@model Method

<div class="row text-center">
    <div class="col-sm"><h4>Result:</h4></div>
    @{
        if (Model.Result != null)
        {
            foreach (var elem in (IEnumerable) Model.Result)
            {
                @:<div class="col-sm"><p>@elem</p></div>
            }
        }
    }
</div>