<div class="row">
    <div class="form-group col-sm">
        <label for="sizeN">Size N:</label>
        <input class="form-control" type="number" id="sizeN" onchange="generateMatrixMultiplicationInput('matrixA', 'matrixB', 'sizeN', 'sizeM', 'sizeP')" />
    </div>
    <div class="form-group col-sm">
        <label for="sizeM">Size M:</label>
        <input class="form-control" type="number" id="sizeM" onchange="generateMatrixMultiplicationInput('matrixA', 'matrixB', 'sizeN', 'sizeM', 'sizeP')" />
    </div>
    <div class="form-group col-sm">
        <label for="sizeP">Size P:</label>
        <input class="form-control" type="number" id="sizeP" onchange="generateMatrixMultiplicationInput('matrixA', 'matrixB', 'sizeN', 'sizeM', 'sizeP')" />
    </div>
</div>
<div class="row d-flex justify-content-around m-2 text-center">
    <div class="col-sm">
        <p>Matrix A</p>
        <div id="matrixA"></div>
    </div>
    <div class="col-sm">
        <p>Matrix B</p>
        <div id="matrixB"></div>
    </div>
</div>
<div class="row">
    <input type="submit" value="Calculate" class="btn btn-secondary" id="btn" />
</div>