@model MatrixMultiplication

@{
    ViewBag.Title = @Model.Name;
}

<partial name="_MethodDescriptionPartial" />

<div class="row text-center my-2">
    <div class="col-sm">
        <p>Use forms in order to input your data and calculate result?</p>
    </div>
    <div class="col-sm">
        <a type="button" class="btn btn-secondary" asp-controller="Methods" asp-action="FormMatrixMultiplication">Use Forms</a>
    </div>
</div>
<div class="row my-5 mx-5">
    <form asp-action="FileMatrixMultiplicationDownload" method="post" enctype="multipart/form-data">
        <div class="row text-center">
            <div class="form-group col-sm">
                <label for="matrixA">Matrix A:</label>
                <input type="file" id="matrixA" name="inputFiles" class="form-control-file border" accept="text/plain" required>
            </div>
            <div class="form-group col-sm">
                <label for="matrixA">Matrix B:</label>
                <input type="file" id="matrixA" name="inputFiles" class="form-control-file border" accept="text/plain" required>
            </div>
        </div>
        <div class="row m-4">
            <input type="submit" value="Calculate and view file" class="btn btn-secondary" id="btn" />
        </div>
    </form>
</div>

