@model JacobiMethod

@{
    ViewBag.Title = @Model.Name;
}

<partial name="_MethodDescriptionPartial" />

<div class="row text-center my-2">
    <div class="col-sm">
        <p>You can upload files with data and calculate result.</p>
    </div>
    <div class="col-sm">
        <a type="button" class="btn btn-secondary" asp-controller="Methods" asp-action="FileJacobiMethod">Use Files</a>
    </div>
</div>
<div class="mx-4 mb-5 mt-3">
    <form asp-action="FormJacobiMethod" method="post">
        <partial name="_JacobiPartial" />
    </form>
</div>

<partial name="_FormResultPartial" />